apiVersion: v1
kind: Secret
metadata:
  name: ghcr-pull-secret
  namespace: sake-hack-ns
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: |
    {"auths":{"ghcr.io":{"username":"replace-me","password":"replace-me","email":"replace-me@example.com","auth":"replace-with-base64(username:token)"}}}
