apiVersion: v1
kind: Secret
metadata:
  name: sake-hack-backend-secrets
  namespace: sake-hack-ns
type: Opaque
stringData:
  DB_PASSWORD: "replace-me"
  CACHE_PASSWORD: "replace-me"
  JWT_SECRET: "replace-me"
  STORAGE_ACCESS_KEY: "replace-me"
  STORAGE_SECRET_KEY: "replace-me"
